h1{
  color: var(--blue2);
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container{
  width: 45%;
  margin: 5% auto;
  background: var(--offWhite);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form{
  width: 100%;
  margin: 8%;
}

.login-padlock{
  width: 40%;
  margin: 5%;
  margin: auto;
  display: block;
}

button .button-test{
  width: 40%;
  margin: 5%;
  margin: auto;
  display: block;;
}
